
.cercle{
    background-color: lightcoral;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin : 50px auto;
}

.zone{
    background-color: lightgray;
    width: 300px;
    height: 300px;
    border-radius: 0%;
    margin : 50px auto;
}

header{
    background-color: lightblue;
    text-align: center;
    margin-bottom: 50px;
}


button{
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
}



