
body {
    margin: 0;
    background: linear-gradient(to right, #000000, #646464);
}

.nav {
    display: flex;
    background-color: rgb(0, 0, 0);
    justify-content: space-between;
    align-items: center;
    padding: 30px;

    
}

.logo {
    color: white;
    font-size: 24px;
    font-weight: bold;
    margin-left: 20px;
        font-size: 30px;
}

ul {
    list-style: none;
    display: flex;
    gap : 20px;
    text-align: center;
}

a{
    color: white;
    text-decoration: none;
}

button{
    background: none;
    border: none;
    color: white;
    margin-right: 20px;
    text-decoration: none;
      
}

.mamandiv{
    justify-content: space-between;
    display: flex;
    align-items: center;
    gap: 15px;
    align-items: center;
    margin: 20px;

}

.forme{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gray;
    padding: 300px;
    padding-left: 50px;
    padding-right: 50px;
}

